* {box-sizing: border-box;}

/* horror */

#horrorMain {
    background-color: #000;
}

#singlePage {
    background-color: #000;
}

.movie-header {
    background-color: #2d302f;
    color: #fff;
}

/* .footer {
    background-color: #2d302f;
    padding: 10px 0;
} */

.card-horror {
    background-color: black;
}

.movie-link, .prev, .next {
    color: rgb(141, 192, 255);
    font-family: Ovo;
    text-decoration: none;
    font-weight: 600;
}

.movie-link:hover {
    color: rgb(9, 106, 141);
    transition-duration: 0.3s;
}

.prev, .next {
    background-color: #000;
}
