<%- include('../partials/header') %>

    <main class="main" id="main">
        <div class="container">
            <h2 class="home-heading" class="text-capitalize">choose a genre</h2>
        </div>
    </main>


<%- include('../partials/footer') %>